* {
  padding: 0;
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
}

body {
  background-image: url("images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: #fff;
  position: relative;
}

.nav-left {
  height: 50vh;
}

.nav-right {
  height: 50vh;
  padding-top: 20px;
}

.additional-info {
  text-align: end;
  list-style: none;
  line-height: 4em;
  font-size: larger;
}

.container-2 {
  padding: 0 5%;
}

.container-3 {
  padding: 0 10%;
  margin-top: 7%;
}

h1 {
  font-weight: bolder;
  font-size: 500%;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 40%;
}

.card {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: white;
  text-align: right;
}

.not-in-use {
  opacity: 50%;
}

#description {
  text-transform: capitalize;
  font-size: 36px;
}

#city {
  text-transform: capitalize;
}

#units {
  opacity: 100%;
  font-size: 42px;
}

.card-body {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.forecast-img {
  width: 75%;
}

#current-temp {
  font-size: 60px;
  font-weight: 700;
}

ul {
  list-style: none;
  line-height: 30px;
}

.heading {
  font-size: small;
  font-weight: 300;
}

h4 {
  font-size: 18px;
}

#feels-like,
#humidity,
#wind-speed,
#sunrise,
#sunset,
.temp {
  font-weight: bolder;
}

/* .submit {
  width: 50%;
} */

.day {
  font-weight: 300;
}

#weather-icon {
  height: 40%;
}
