* {
  padding: 0;
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
}

body {
  background-image: url("images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: #fff;
  position: relative;
}

.nav-left {
  padding-top: 20px;
}

.nav-right {
  padding-top: 20px;
}

.additional-info {
  text-align: end;
  list-style: none;
  line-height: 4em;
  font-size: larger;
}

.container-2 {
  padding: 0 5%;
}

.container-3 {
  padding: 0 10%;
}

h1 {
  font-weight: bolder;
  font-size: 400%;
}

footer {
  margin: 2px auto 0 auto;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.card {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: white;
  text-align: right;
}

.not-in-use {
  opacity: 50%;
}

#description {
  text-transform: capitalize;
  font-size: large;
}

#city {
  text-transform: capitalize;
}

#units {
  opacity: 100%;
  font-size: 280%;
}

.card-body {
  padding: 0;
}

.forecast-img {
  width: 80px;
}

#weather-icon {
  width: 80px;
}

#current-temp {
  font-size: 400%;
  font-weight: 700;
}

ul {
  list-style: none;
  line-height: 30px;
}

.heading {
  font-size: small;
  font-weight: 300;
}

h4 {
  font-size: large;
}

#feels-like,
#humidity,
#wind-speed,
#sunrise,
#sunset,
.temp {
  font-weight: bolder;
}

.day {
  font-weight: 300;
}
