* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: white;
  position: relative;
}

.nav-left {
  height: 50vh;
}

.nav-right {
  height: 50vh;
  padding-top: 20px;
}

.additional-info {
  text-align: end;
  list-style: none;
  line-height: 4em;
  font-size: larger;
}

.predictions {
  width: max-content;
}

.container-2 {
  padding: 0 5%;
}

.container-3 {
  padding: 0 10%;
}

h1 {
  font-weight: bolder;
  font-size: 500%;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 40%;
}

.card {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: white;
  text-align: right;
}

#fahrenheit {
  opacity: 50%;
}

#sun li {
  display: inline;
}

#description {
  text-transform: capitalize;
}
